
@{
    ViewData["Title"] = "Index";
    Layout = "layout";
}


<body class="principalbody">
<div class="index">
    <p class="gymshark">GYMSHARK</p>
        <p class="frase">"¡El esfuerzo de hoy es la fuerza de mañana!"</p>
    

</div>
    <a href="~/Administrador" class="Admin">Admin</a>
</body>


