
@{
    ViewData["Title"] = "layoutadmin";
}

<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Catálogo - Gimnasio</title>

</head>
<body>
    <header class="headersh"><p>GYMSHARK</p> </header>
 
    <main>
        @RenderBody()
    </main>
    <footer> &copy; 2024 Gimnasio. Diseñado para tus necesidades fitness.</footer>
   



</body>
</html>


